.animation-wrapper.fade {
    opacity: 0;
    animation: fadeAnimation 1s forwards;
}

/* Keyframes for animations */
@keyframes fadeAnimation {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}